.work-study_description {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo_cnr {
    padding: 20px;
}

@media screen and (max-width: 960px) {
    .work-study_description {
        flex-direction: column;
    }
    .logo_cnr {
        max-width: 350px;
    }
    
  }